*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background-color: #fff;
   /* color:#333;*/
    transition: all 0.3s ease;
}

h1{
    text-align: center;
    background:linear-gradient(to right, azure,violet,lightblue,deeppink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

header{
    background-color: #333;
   /* color: #fff;*/
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav a { background:linear-gradient(to right, deeppink 20%,skyblue ,#ff9800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /*color: white;*/
    text-decoration: none;
}

.heading{text-align: center;
     margin: 0.5rem auto;
     
     background:linear-gradient(to right, deeppink 20%,skyblue ,#ff9800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
/*project design*/
.project-images img,
.more-projects img {
  display: flex;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
}

.arrow {
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.hidden {
  display: none;
}

/*stops here*/


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
   margin: 1.5rem;
   width: 50%;
}

.right{
    margin: 1.5rem;
   width: 50%;
}

#connect{
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 2rem;
    background-color: aquamarine;
    border: none;
    transition: background-color 0.2s ease;
}

#connect:hover{
    background-color: green;
}

section{ margin: 2rem 1rem 0 1rem;
    padding: 4rem 0 4rem 0;
    border-radius: 5%;
    background-color: #535050;
}

.skill-graph{
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;
  height: 600px;
  max-width: 600px;
  margin: auto;
  font-family: Sans-Serif;
}

.skill-bar{
  position: relative;
  width: 60px;
  height: 100%;
  background: #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.skill-bar span{
  margin-top: 10px;
  font-size: 4px;
  text-align: center;
}

.fill{
  width: 100%;
  position: relative;
  display: flex;
  align-items:center ;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  border-radius: 8px 8px 0 0;
  animation: grow 2s ease forwards;
}

.fill span{
  margin-bottom: 8px;
  font-size: 14px;
}

/*tooltips*/
.fill::after{
  content: attr(data-tooltip);
  position: absolute;
  top: -30px;
  background: #333;
  color: #fff;
  padding:3px 8px ;
  font-size: 12px;
  opacity: 0;
  transition: 0.3s ease;
  pointer-events: none;
}

/*Individual skill heights*/
.html{
  height: 95%;
  background: #f16529;
  animation-delay: 0.2s;
}
@keyframes grow{
  0%{
    height: 0%;
  }
  95%{
    height: inherit;
  }
}
.css{
  height: 87%;
  background: #2965f1;
  animation-delay: 0.4s;
}
/*@keyframes grow{
  0%{
    height: 0%;
  }
  87%{
    height: inherit;
  }*/
.js{
  height: 35%;
  background: #f0db4f;
  animation-delay: 0.6s;
}
/*@keyframes grow{
  0%{
    height: 0%;
  }
  35%{
    height: inherit;
  }*/
.design{
  height: 70%;
  background: #a259ff;
  animation-delay: 0.8s;
}
/*@keyframes grow{
  0%{
    height: 0%;
  }
  70%{
    height: inherit;
  }
  


/*@keyframes grow{
  0%{
    height: 0%;
  }
  100%{
    height: inherit;
  }
}*/

/*Responsive*/
@media screen and
(max-width:600px ){
  .skill-graph{
    gap:15px;
  }
  .skill-bar{
    width: 45px;
  }
  .skill-bar span{
    font-size: 12px;
  }
}






form input,form textarea{
  display: block;
  width: 70%;
  margin: 2rem 2rem;
  padding: 0.5rem;
  
}

footer{
  text-align: center;
  padding: 0.5rem;
  background-color: #000;
  color: #fff;
  margin-top: 2rem;
}

/*dark mode*/
.dark{
  background-color:#111 ;
  color:#eee ;
}



.me a{
  text-decoration: none;
  font-size: 1rem;
  
}

button a{
  text-decoration: none;
  color: #000;
  padding:2rem auto;
}


.about{
  margin: 1.5rem;
}

#ABOUT{
  background:linear-gradient(to right, BLUE 30%,DEEPpink,indigo ,#ff9800);
}
 .with-background::before{
  opacity: 0.1;
 }


.about p {
  font-size: 1.4rem;
  margin: 0.5rem;
}

#my-journey{background-image: url(journey.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 50px 20px;
  text-align: center;

}

.with-background::before{
    opacity: 0.5;

}

#my-journey p{
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.8;
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}


.journey{
    background:linear-gradient(to right, BLUE 80%,DEEPpink,indigo ,#ff9800);
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    margin-bottom: 0;
    font-size: 1.5rem;

}














